div(class="blog-post-bottom")
    span(class="blog-post-actions") &nbsp;
    span(class="blog-post-syndication")
    each s in entry.syndication
        -
            var icon;
            if (s.indexOf('twitter.com') !== -1)
                icon = 'fa-twitter';
            else if (s.indexOf('facebook.com') !== -1)
                icon = 'fa-facebook';
            else if (s.indexOf('instagram.com') !== -1)
                icon = 'fa-instagram';
            else if (s.indexOf('soundcloud.com') !== -1)
                icon = 'fa-soundcloud';
            else
                icon = 'fa-external-link';
        a(class="u-syndication" href=s>
            i(class="fa " + icon)