div(class="blog-post-bottom")
    span(class="blog-post-actions") &nbsp;
    span(class="blog-post-syndication")
        each s in entry.syndicateTo
            a(class="u-syndicate-to" href=s)
        each category in entry.category
            span
                | #
                a(class="p-category" href=site.getPathForTag(category))= category
        each s in entry.syndication
            -
                var icon;
                if (s.indexOf('twitter.com') !== -1)
                    icon = 'fa-twitter';
                else if (s.indexOf('facebook.com') !== -1)
                    icon = 'fa-facebook';
                else if (s.indexOf('instagram.com') !== -1)
                    icon = 'fa-instagram';
                else if (s.indexOf('medium.com') !== -1)
                    icon = 'fa-medium';
                else if (s.indexOf('wordpress.com') !== -1)
                    icon = 'fa-wordpress';
                else if (s.indexOf('tumblr.com') !== -1)
                    icon = 'fa-tumblr';
                else if (s.indexOf('soundcloud.com') !== -1)
                    icon = 'fa-soundcloud';
                else
                    icon = 'fa-external-link';
            span
                a(class="u-syndication" href=s)
                    i(class="fa " + icon)