<%- include('header', {site: site, title: site.title}); %>
<div class="h-feed">
<% entries.forEach(function (e) { %>
    <%- include('entry', {entry: e}); %>
<% }); %>

    <ul class="pager">
        <li><a href="<%= site.getPathForIndex(page + 1) %>">More</a></li>
    </ul>

</div>
<%- include('footer', {site: site}); %>