<%- include('header', {title: site.title}); %>
<div class="h-feed">
<% entries.forEach(function (e) { %>
    <%- include('streamentry', {entry: e}); %>
<% }); %>

    <ul class="pager">
        <li><a href="<%= utils.getUrlForIndex(page + 1) %>">Older</a></li>
    </ul>

</div>
<%- include('footer'); %>