extends ./page
block title
    = category + ' - ' + site.title
block content
    h2= category
    ol(class="container-fluid h-feed list-unstyled")
        each entry in entries
            li(class="row h-cite")
                - var dateString = utils.formatDate(entry.published);
                div(class="col-sm-2 blog-post-meta")
                    time(class="dt-published" datetime=entry.published.toISOString() title=dateString)= dateString
                div(class="col-sm-10")
                    a(class="u-url p-name" href=entry.url)= utils.truncate(entry.name, 64)
