extends ./streampage

block navbar
    div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
            li
                a(href="/") Articles+Notes
            li(class="active")
                a(href="/replies") Replies
